body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.content {
    padding: 20px 20px;
    width: 50%;
    background-color: whitesmoke;
    border: darkolivegreen;
    border-width: 0 10px;
    border-radius: 1em;
    opacity: 80%;
}